<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  
  <body>
    <br>
    <section class="hero is-primary is-large is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1 has-text-centered">
              Welcome to Gigzag!
          </h1>
          <h2 class="subtitle is-4 has-text-centered">
            Where acting happens
          </h2>
          <br>
        </div>
        <div class="columns has-text-centered">
          <div class="column is-one-quarter is-offset-one-quarter">
            <a href="/actor" class="button is-danger">I'm an actor</a>
          </div>
          <div class="column is-one-quarter">
            <a href="/login" class="button is-danger">I want to post an ad</a>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>