<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - Free Bulma template</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <div class="box">
            <figure class="avatar">
              <img src="{{ url_for('static', filename='images/gigzaglogo.jpg') }}" height="128" width="128">
            </figure> 
            <form action="{{ url_for('login')}}" method = 'post'>
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox">
                  Remember me
                </label>
              </div>
              <a href="/actor" class="button is-primary is-medium is-fullwidth">Login</a>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="/register">Sign Up</a> &nbsp;·&nbsp;
            <a href="#">Forgot Password</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>