<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
        
  <section class="section">
    <div class="container has-text-centered is-size-1"><h1>Welcome to Gigzag!</h1></div>
  </section>
  <section class="section">
    <div class="columns">    
      <div class="column is-one-quarter has-text-centered is-offset-one-quarter">
          <a href="/actor" class="button is-primary">I'm an actor</a>
      </div>
      <div class="column is-one-quarter has-text-centered">
          <a href="/director" class="button is-primary">I want to post an ad</a>
      </div>
    </div>
  </section>
  </body>
</html>